bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
config.json
Docker/*.java
Docker/*.class
Docker/*.jar
TestingInput
TestingSource
sqldialects.xml
contentModel.xml
workspace.xml
jsLibraryMappings.xml
