{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "Home ~ Modulr"}}

<div class="container">
    <header>Welcome to Modulr!</header>
    <p>Please login using your own GSuite account on the top right.</p>
    <p>If you cannot see a login button, please enable cookies and JavaScript in your browser.</p>
</div>

<div class="footer-padding"></div>
<footer class="footer">
    Written by William Le -
    <a href="https://github.com/DoggySazHi/Modulr" target="_blank" rel="noopener noreferrer">View in GitHub</a>
</footer>

<!-- JavaScript libraries -->
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/google.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}