{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "Student Tester ~ Modulr"}}

<div class="container">
    <header>Student Tester</header>
    
    <div class="row">
        <div class="column">
            <h3>Tests Available</h3>
            <form onsubmit="return false;" id="tests-available" class="scroll-view">
                
            </form>
        </div>
        <div class="column">
            <div class="row center">
                <h3>Upload Panel</h3>
                <span id="loading-icon" class="hidden">
                    <span class="row center">
                        <img src="gohei.svg" alt="Modulr Loading" class="flip-animation nav-logo"/>
                        <i>Please wait warmly...</i>
                    </span>
                </span>
            </div>
            <form onsubmit="return false;">
                <div id="fileInputs" class="form-control"></div>

                <button id="submit" class="default form-control" disabled>Submit!</button>
                <div id="result" class="output"></div>
            </form>
        </div>
    </div>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

<!-- JavaScript libraries -->
<script type="module" async defer src="/js/forceauth.js"></script>
<script type="module" async defer src="/js/signalr.min.js"></script>
<script type="module" async defer src="/js/websocket.js"></script>
<script type="module" async defer src="/js/tester.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}