{{"include": "StaticViews/views/template/_header.html"}}

<link rel="stylesheet" href="/css/tester.css">

{{"title": "Student Tester ~ Modulr"}}

<div class="container">
    <header>Student Tester</header>
    
    <div class="row">
        <div class="column">
            <h3>Tests Available</h3>
            <form onsubmit="return false;">
                <div id="tests-available" class="list scroll-view">

                </div>
            </form>
        </div>
        <div class="column not-ready">
            <div class="row center">
                <h3>Test Information</h3>
            </div>
            <div class="row center">
                <div class="test-info output">
                    A description about this test.
                </div>
            </div>
            <div id="included">
                <div class="row">
                    <h4>Included files (<span>0</span>)</h4>
                </div>
                <div class="center">

                </div>
            </div>
            <div class="row center">
                <h4>Upload Panel</h4>
                <span id="loading-icon" class="hidden">
                    <span class="row center">
                        <img src="gohei.svg" alt="Modulr Loading" class="flip-animation nav-logo"/>
                        <i>Please wait warmly...</i>
                    </span>
                </span>
            </div>
            <div>
                <form onsubmit="return false;">
                    <div id="fileInputs" class="form-control"></div>
    
                    <button id="submit" class="default form-control" disabled>Submit!</button>
                    <div class="capcha-message">This site is protected by reCAPTCHA and the Google
                        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                        <a href="https://policies.google.com/terms">Terms of Service</a> apply.</div>
                    <div id="result" class="output"></div>
                </form>
            </div>
        </div>
    </div>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

<!-- JavaScript libraries -->
<script type="module" async defer src="/js/forceauth.js"></script>
<script type="module" async defer src="/js/signalr.min.js"></script>
<script type="module" async defer src="/js/websocket.js"></script>
<script type="module" async defer src="/js/tester.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}