{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "Student Tester ~ Modulr"}}

<div class="container">
    <header>Student Tester</header>
    
    <div class="row">
        <div class="column">
            <h3>Tests Available</h3>
            <form onsubmit="return false;" id="tests-available">
                
            </form>
        </div>
        <div class="column">
            <h3>Upload Panel</h3>
            <form onsubmit="return false;">
                <div id="fileInputs" class="form-control"></div>

                <button id="submit" class="default form-control" disabled>Submit!</button>
                <div id="result" class="output"></div>
            </form>
        </div>
    </div>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

<!-- JavaScript libraries -->

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/google.js"></script>
<script type="text/javascript" src="/js/forceauth.js"></script>
<script type="text/javascript" src="/js/signalr.min.js"></script>
<script type="text/javascript" src="/js/websocket.js"></script>
<script type="text/javascript" src="/js/tester.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}