{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "Admin Area ~ Modulr"}}

<div class="container">
    <header>Admin Area</header>

    <div class="row">
        <div class="column">
            <div class="row center">
                    <h3>Tests Available</h3>
                    <button id="stipulatable-add" class="success modifier-btn">&plus;</button>
            </div>
            <form onsubmit="return false;" id="tests-available">

            </form>
        </div>
        <div class="column">
            <h3>File Manager</h3>
            <form id="manager" class="hidden" onsubmit="return false;">
                <div class="form-control">
                    <div class="row center">
                        <label>
                            <span class="topic">Name</span>
                            <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true"/>
                        </label>
                    </div>
                    <hr/>
                    <label>
                        <span class="topic">Compile Order</span>
                        <button id="tester-add" class="success modifier-btn">&plus;</button>
                    </label>
                    <div id="testers" class="list">
                        
                    </div>
                    <hr/>
                    <label>
                        <span class="topic">Required</span>
                        <button id="required-add" class="success modifier-btn">&plus;</button>
                    </label>
                    <div id="required" class="list">

                    </div>
                </div>

                <div class="row">
                    <button id="submit" class="default form-control" disabled>Update</button>
                    <button id="delete" class="danger form-control" disabled>Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer-padding"></div>
<footer class="footer">
    Written by William Le -
    <a href="https://github.com/DoggySazHi/Modulr" target="_blank" rel="noopener noreferrer">View in GitHub</a>
</footer>

<!-- JavaScript libraries -->

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/google.js"></script>
<script type="text/javascript" src="/admin/js/admin.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}